*.classpath
my-store/.project
my-store/src/main/webapp/css/.DS_Store

my-store/src/main/webapp/img/display/.DS_Store

*.log

*.1

*.3

my-store/src/main/webapp/log/hibernate.log

my-store/src/main/webapp/log/hibernate.log.1

my-store/src/main/webapp/log/hibernate.log.3

my-store/.DS_Store

my-store/src/.DS_Store

my-store/src/main/java/.DS_Store

my-store/src/main/java/com/kaplan/.DS_Store

my-store/src/main/java/com/kaplan/coding/.DS_Store

my-store/src/main/java/com/.DS_Store

my-store/src/main/java/com/kaplan/coding/mystore/.DS_Store

my-store/src/main/java/com/kaplan/coding/mystore/persistence/.DS_Store

my-store/src/main/webapp/.DS_Store

my-store/src/main/webapp/WEB-INF/.DS_Store

my-store/src/main/.DS_Store

.DS_Store
